.productInfo{
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center;
  align-items: center; */
}

.mainImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 350px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.otherImage{
  margin: 10px;
  width: 80px;
  height: 80px;
  transition: 0.8s all ease-in-out;
}
.otherImage:hover{
  transform: scale(5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
/* table{
    border-collapse: collapse;
    table-layout: auto;
  width: 180px; 
  } */


  .customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .customers tr:nth-child(even){background-color: #f2f2f2;}

  .customers td:nth-child(odd){ width: 20%;}

  .customers tr:hover {background-color: #ddd;}
  
  .customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }

  

/* custtttttttttttttttttttttttttt */
  .table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
/* table{
    border-collapse: collapse;
    table-layout: auto;
  width: 180px; 
  } */


  .table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}

  .table td:nth-child(odd){ width: 20%;}

  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }











.productLists{
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin-left: 320px;
  /* border: 2px black solid; */
  
}

.productListData{
  width: 47.5%;
  border: 2px black solid;
  margin: 1%;
  border-radius: 5px;
  /* flex: 1 1 45.5%; */
}

.productListData:hover{
  color: rgb(5, 55, 148);
  border-color:  rgb(5, 55, 148) ;
  cursor: pointer;
}

.productListData img{
  height: 200px;
  width: 200px;
}

.FilterLIst{
  text-align: left;
  border: 2px solid black;
  width: 280px;
  height:40%;
  font-size: 20px;
  padding: 5px 5px;
  position: fixed;
  margin-top: 13px;
  
}

.FilterLIst div{
  border: 2px solid black;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 5% 0;
  margin-bottom: 18%;
}

.FilterLIst select{
  font-size: 16px;
  font-weight: bold;
  margin: 5% 0;
  margin-bottom: 12%;
}

.FilterLIst input{
  font-size: 15px;
  font-weight: bold;
  width: 72px;
  margin: 5% 0;
}

.quantity{
  border:2px black solid;
  width: 150px;
  height: 50px;
  font-size: 16px;
  text-align: center;
}
.button{
  border:2px black solid;
  border-radius: 5px;
  width: 100px;
  height: 50px;
  font-size: 18px;
  margin-top: 10px;
  padding: 15px 5px;
  text-align: center;
  font-weight: bold;
}

.button:hover{
  background-color: black;
  color: white;
}