.Product{
  position: relative;
  /* left: 320px; */
  margin-top: 15px;
  font-size: 20px;
}
  

.Form{
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    border: black 1px solid;
    padding: 5px;
  }
